#Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .reset,
  .settings {
    width: 5rem;
    margin-right: 1rem;
    height: 5rem;
    border-radius: 1rem;
    border: 5px solid $black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    img {
      width: 60%;
    }
  }
  .settings {
    margin-right: auto;
  }
  .settings_popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .settings_popup_container {
      display: flex;
      flex-direction: column;
      .settings_popup_item {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        .item_label {
          margin-right: 1rem;
          font-size: 2rem;
        }
        input {
          width: 8rem;
          text-align: center;
          border: none;
          outline: none;
          background-color: transparent;
          font-family: inherit;
          font-size: 2rem;
        }
      }
    }
    button.settings_done {
      padding: 0.5rem;
      background-color: $black;
      color: $white;
      font-size: 2rem;
      margin: 0 auto;
    }
  }
  .limit {
    padding: 1rem;
    height: 5rem;
    border-radius: 1rem;
    border: 5px solid $black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    img {
      width: 60%;
    }
    input {
      font-family: inherit;
      height: 2rem;
      font-size: 2rem;
      width: 7rem;
      text-align: center;
      border: none;
      background-color: transparent;
    }
  }
  .stages {
    display: flex;
    .stage {
      width: 5rem;
      height: 5rem;
      border-radius: 1rem;
      border: 5px solid $black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 80%;
      }
    }
  }
}
