$white: #f1f2f6;
$black: #1c1c1c;

$chicken_primary: #d85252;
$chicken_secondary: #f7b719;
$chicken_bg: #efc46f;

$hamburger_primary: #fcc038;
$hamburger_secondary: #407c44;

$pizza_primary: $white;
$pizza_secondary: $black;
